@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

* {
box-sizing: border-box;
}
html, body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa', cursive;
	font-size: 14px; 
	color: black;
	overflow: hidden;
}
input, textarea { 
	outline: none;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background: black;
}
h1 {
	font-family: 'Abril Fatface', cursive;
	margin-top: 0;
	font-weight: 100;
	text-align: center;
}
form {
	position: relative;
	width: 80%;
	border-radius: 30px;
	background: white;
}

.conteudo {
	padding: 40px;
}
.conteudo input,
.conteudo textarea, 
.conteudo select {
	display: block;
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
	border: none;
	border-radius: 20px;
	background: #cecece;
}

.conteudo label{
	margin: auto;	
}

.conteudo textarea {
	resize: none;
}
button {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	border-radius: 20px;
	border: none;
	border-bottom: 4px solid black;
	background: #353839; 
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
button:hover {
	background: #cecece;
} 
@media (min-width: 568px) {
	form {
		width: 60%;
	}
}