@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

body {
	margin:0;
	font-family: 'Comfortaa', cursive;
  	background-color:#249EA0;
	  color:#353839;
	  overflow-x: hidden;
}

body.segundo {
	background-color: #008083;
}

 
h1 {
	font-family: 'Abril Fatface', cursive;
	color:#353839;
	font-weight:700;
	margin-top:125px;	 
	text-align:center;
	text-transform:uppercase;
	letter-spacing:15px;
	line-height:23px;
}

span#titulo {
  color: white
}

h2 {
  font-weight: 500;
  font-size: 10pt;
}

p {
  font-weight: 500;
  color: black;
  font-size: 14pt;
}

.menu {
	margin:auto;
	max-width:1080px;
}

#barra {
	position:relative;
	width:90%;
	transform: translateX(35%);
	height:100px;
	margin-top:65px;
}

#barra ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#barra li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #fff;
	transition:all ease 0.3s;
     
}

#barra li.ativa:before, #barra li:hover:before {
	border:solid 2px #fff;
       	 
	background: #fff; 
}

#barra li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#353839;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#barra li div#grande{
	top:40px;
}

#barra li .texto-barra {
	position:absolute;
	width:100%;
	bottom:0;
  font-size: 14px;
}

#barra li.ativa, #barra li:hover {
	color: #fff;
}

#barra li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#353839;
	margin:auto;
	border:solid 7px #249EA0;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;   
}

#barra li.segundo:after{
	border:solid 7px #008083;
}

#barra li:hover:after {
	background:#fff;
}

#barra li.ativa:after {
	background:#fff;
}

#barra #linha {
	width:80%;
	margin:auto;
	background: #249EA0;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;

}

#barra #linha.segundo {
	background-color: #008083;
}

#barra #progresso-linha {
	content:" ";
	width:3%;
	height:100%;
	background: #fff;	 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#conteudo {
	width:90%;
	margin: auto;
	background: white ;
	border-radius: 4px;
}

#conteudo .conteudo {
	padding:30px 40px;
	text-align:center;
}

#conteudo .conteudo h2 {
	font-size:17px;
	text-transform:uppercase;
  color:rgb(50, 50, 50);
	letter-spacing:1px;
}

#conteudo .conteudo p {
	font-size:16px;
	line-height:1.8em;
	color:gray;
}

#conteudo .conteudo {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#conteudo .ativa {
	display:block;
}

div.artigo {
	width: 650px;
	margin: auto;
	margin-top: 30px;
}

div.artigo h2 {
	border: solid 1px #353839;
	padding: 8px;
	width: 40%;
	margin: auto;
	margin-bottom: 30px;
	border-radius: 40px;
}

div.artigo li {
	text-align: justify;
}

.zoom {
	overflow: hidden;
}

.zoom img{
	width: 400px;
	transition: all 0.3s;
}

.zoom:hover img{
	transform: scale(1.15);
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

.left {
	position: absolute;
	bottom: 630px;
	left: 70px;
	width: 20px;
	height: 20px;
	transform: translateY(-80px) rotate(135deg);
  }
  
  .left span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	animation: animate 1.5s linear infinite;
	opacity: 0;
  }
  
  .left span:nth-child(1) {
	transform: translate(-15px, -15px);
	animation-delay: -0.4s;
  }
  
  .left span:nth-child(2) {
	transform: translate(0, 0);
	animation-delay: -0.2s;
  }
  
  .left span:nth-child(3) {
	transform: translate(15px, 15px);
	animation-delay: 0s;
  }
  
  @keyframes animate {
	0%
	{
		top: -5px;
		left: -5px;
		opacity: 0;
	}
	25%
	{
		top: 0px;
		left: 0px;
		opacity: 1;
	}
	50%, 100%
	{
		top: 5px;
		left: 5px;
		opacity: 0;
	}
  }
  